{% extends('base.html.twig') %}

{% block body %}

<h1 align="right"><a href="#">Tobias Dörfler</a></h1>
<h4 align="right"> tobim.doe@web.de  <br>  +49 / 176 341 32266</h3>
<div class="line"></div>
<div class="wrapper">
    <main role="main">
        <section class="sec-intro" role="section">
        <img align="right" src="bew.jpg" style="width:300px;height:450px;/>
        </section>
        <section class="sec-boxes" role="section">
            <adrticle class="box">
                <h1>Über mich</h1>
                <p>
                    Willkommen!
                    Mein Name ist Eva Ticha, ich bin seit acht Jahren als freiberufliche Dolmetscherin und Übersetzerin tätig.
                    In Vrchlabi (Tschechische Republik) geboren endete meine schulische Laufbahn mit dem tschechischen Abitur, 
                    die ich mit Auszeichnung bestanden habe. Kurz danach wurde ich zum Studium an der Dolmetscherschule in Prag zugelassen,
                    wo ich meine Ausbildung als Konferenzdolmetscherin und Fachübersetzerin abgeschlossen habe. Meine Abschlussarbeit, 
                    die ich im Mai 2014 erfolgreich verteidigt habe, beschäftigte sich mit einer kommentierten Fachübersetzung eines Buches
                    aus dem Bereich Psychologie und Neurowissenschaft.
                </p>
                
            </adrticle>
            <adrticle class="box">
                <h1>Studium</h1>
                <p>Mein 4-jähriges Studium wurde durch zahlreiche Dolmetscheinsätze im deutschsprachigen Ausland 
                und durch Fachübersetzungen begleitet. Im Anschluss daran vertiefte ich meine Kenntnisse der Übersetzungs-
                und Dolmetschwissenschaft durch das Studium der Deutschen Philologie an der Universität Pardubice. 
                Ich legte meine Staatsprüfung in den Fächern Deutsche Sprache, Analyse des Fachtextes
                und Deutsche Literatur und Kultur mit Auszeichnung ab. Für meine Abschlussarbeit Anglizismen im deutschen 
                und im Tschechischen: ein Vergleich erhielt ich den Universitätspreis für die beste Abschlussarbeit. </p>
                
            </adrticle>
            <adrticle class="box">
                <h1>Erfahrung</h1>
                <p>
                    Meine freiberufliche Übersetzungs- und Dolmetschtätigkeit hat im Jahr 2011 angefangen. 
                    Inzwischen liegen Tausende übersetzte Seiten und Hunderte verdolmetschte Tage hinter mir. 
                    Verträge, Urkunden, internationale Konferenzen, technische Schulungen, Messen, Geschäftsverhandlungen oder Staatsbesuche prägen meinen Alltag. 
                    Seit 2019 wohne ich in Bayreuth. 
                    Mit der tschechischen und deutschen Sprache und den deutsch-tschechischen Beziehungen befasse ich mich praktisch
                    lebenslang, indem beide Sprachen mir als Muttersprachen beigebracht wurden. Mein Bildungsweg, mein Alltag 
                    und meine Freizeit bestehen gleichmäßig aus der deutschen und tschechischen Sprache.
                </p>
            </adrticle>
    </main>
</div>
<footer>
   
    <p class="copy">&copy; tobim.doe@web.de</p>
</footer>
<div class="line"></div>
{% endblock %}